@import "tailwindcss";
@plugin "tailwindcss-animate";

/* Tailwind v4: explicitly include Blade & PHP sources so utilities are generated in production */
@source '../../resources/views/**/*.blade.php';
@source '../views/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../app/**/*.php';
@source '../js/**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* Firefox */
    .scrollbar-hidden {
        scrollbar-width: none;
    }

    /* IE and Edge */
    .scrollbar-hidden {
        -ms-overflow-style: none;
    }
}

@layer base {
    :root[data-theme='dark'] input[type='date'],
    :root[data-theme='dark'] input[type='time'] {
        color-scheme: dark;
    }

    /* Make native date & time picker icons appear black */
    input[type='date']::-webkit-calendar-picker-indicator,
    input[type='time']::-webkit-calendar-picker-indicator {
        filter: brightness(0);
    }
}
